<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/style/css/style.css">
</head>
<body class="boddy">
<nav class="navbar navbar-light navbar-expand-lg fixed-top center bg-white clean-navbar">
  <div class="container"><h4 class="navbar-brand  logo" href="">Main</h4>
    <div id="navcol-1" class="collapse navbar-collapse">
    </div>
  </div>
</nav>
<section class="mx-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 br mx-auto bg-white center ex" >
        <a style="font-family: 'Calibri', sans-serif ;font-size: 20px; " href="student" class="a my-button mb-5 center mb-10">● Список студентов</a>
        <br class="mb-10 mx-auto">
        <a  style="font-family: 'Calibri', sans-serif ;font-size: 20px; " href="subject" class="a my-button center mb-5">● Список дневников</a>
        <br class="mx-auto">
      </div>
    </div>
  </div>
</section>
</body>
</html>